body {
    padding: 10px;
}

.active_listing {
    color: red;
}

.row {
    border: solid;
    border-color: lightgray;
    padding: 2%; 
    margin: 2%;
}

.comment-section {
    margin: 10%;
}

.comment-entries {
    padding:2%;
}