body {
    padding: 10px;
}

.active_listing {
    color: red;
}

.row {
    border: solid;
    border-color: lightgray;
    padding: 2%; 
    margin: 2%;
}

.comments {
    border: solid;
    border-color: lightgray;
    padding: 1%;

}